/* General Styling for the About Us Section */
.about-us {
  font-family: 'Arial', sans-serif;
  opacity: 0;
  transform: translateY(-50px);
  animation: slideUp 0.5s forwards;
  animation-delay: 0.6s;
  padding: 20px 2%; /* Added padding for better layout */
  margin: 0 auto;
  background-color: #e1b470;
}

/* Heading Styling */
.about-us h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  margin: 0 0 20px 0;
  text-align: center;
  background-color: rgb(198, 153, 84);
  padding: 10px 40px;
  transform: translateY(50px);
  opacity: 0;
  animation: slideUps 0.5s forwards;
  animation-delay: 1.5s;
}

/* Subheading Styling */
.about-us h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

/* Founder Section Styling */
.founder {
  padding: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

/* Founder Name Styling */
.founder h5 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: black;
  cursor: pointer;
}

/* Founder Description Styling */
.founder p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: black;
}

/* Remove White Line Between Sections */
.about-us + .about-us {
  margin-top: 0; /* Remove space between consecutive sections */
  padding-top: 0; /* Adjust padding if necessary */
  background-color: #e1b470; /* Consistent background color */
}

/* Mobile Responsive Design */
@media (max-width: 768px) {
  .about-us h1 {
    font-size: 2rem;
  }
  .about-us h2 {
    font-size: 1.25rem;
  }
  .founder h5 {
    font-size: 1.15rem;
  }
  .founder p {
    font-size: 0.9rem;
  }
}

/* Tablet Responsive Design */
@media (min-width: 768px) and (max-width: 1024px) {
  .about-us h1 {
    font-size: 2.25rem;
  }
  .about-us h2 {
    font-size: 1.4rem;
  }
  .founder h5 {
    font-size: 1.2rem;
  }
  .founder p {
    font-size: 1rem;
  }
}

/* Animations */
@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUps {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
